.logocss{
  height: 120px;
}
.backgroundColor{
  background-color:#F0F8FF ;
}
.top{
  /*margin-top: 20px*/
  box-shadow: 0px 0px 15px #b3b3b3;
}
.huanyinbg{
  border-left: 2px solid silver;
  height: 70px;
  margin-top: 30px
}
.huanyin{
  margin-top: 10px;
  font-family: "YouYuan ";
  font-size: 30px;
  font-weight:normal ;
  color: #A9A9A9;

}
