.box
    opacity:0;
    -webkit-animation:fadeIN 0.3s ;
    opacity:1;
    width:400px;
    height: auto;
    background-color: white;
    box-shadow:3px 3px 8px #888888;
    border:1px solid silver;
    margin-left:0px;
    padding-top:0px;
    padding-left:5px;
    padding-right:5px;
    padding-bottom:10px
.fontStyle
    font-size:15px;
    font-weight:bold
    margin-top:10px
.box a{ 
    display:block;
    color:  #696969; 
}
.box a:hover{
    color:#33CC00;
    cursor:pointer
}
.btnDefult{
    background-color:white;
    border:0px;
    font-size:13px;
    color:  #696969;
    width:50px;
    cursor:pointer;
}
.btnClick{
    background-color:#66CC66;
    border:0px;
    font-size:13px;
    color:  white;
    width:50px;
    cursor:pointer;
}
.select-color{
    border-bottom: 1px solid #66CC66;
    margin-left: 0px;
}
.marbottom
    margin-bottom:10px
.listStyle
   margin-top: 10px;
   text-align:left;
   min-width: 19%;
   margin-left: 6%
@-webkit-keyframes fadeIN
    0%   { opacity:0}
    100% {  opacity:1}