.font20{
  font-size: 20px;
}
.font16{
  font-size: 16px;
}
.colorRed{
  color: #e60000
}
.simhei{
  font-family: SimHei;
}
.youyuan{
  font-family: YouYuan;
}
.font30{
  font-size: 30px;
}
.inputbg{
  background-color: #f0f0f0;
}

.cursor{
  cursor: pointer;
}
