.time-vertical {
  list-style-type: none;
  border-left: 1px solid #707070;
  padding: 0px;
  height: 400px;
}

.time-vertical li {
  height: 100px;
  position: relative;
}

.time-vertical li a {
  display: inline-block;
  margin-left: 20px;
  margin-top: 15px;
  text-decoration: none;
  color: #000;
}

.time-vertical li b:before {
  content: '';
  position: absolute;
  top: 18px;
  left: -20px;
  width: 25px;
  height: 25px;
  border: 2px solid #cb00cb;
  border-radius: 10px;
  background: #cb00cb;
}

.time-vertical li span {
  position: absolute;
  color: #fff;
  top: 18px;
  left: -6px;
}
