<!--<div class="row mt-2">-->
  <!--<div class="col-sm-12 text-right ">-->
    <!--<button class="btn topBtn btn-primary">使用新地址</button>-->
  <!--</div>-->
<!--</div>-->
<div class="row mt-2 text-center">
  <div class="col-sm-12">
    <table class="table table-bordered table-striped">
      <thead>
      <th>商品图片</th>
      <th>商品名称</th>
      <th>商品类型</th>
      <th>商品价格</th>
      <th>商品数量</th>
      <th>商品操作</th>
      </thead>
      <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="row mt-2">
  <div class="col-sm-5">
    <button class="btn btn-default topBtn" >总价为：</button>
  </div>
  <div class="col-sm-7 text-right">
    <button class="btn btn-primary topBtn" >结算</button>
  </div>
</div>
