.rightTopBox{
  height:60px;
  background-color: #081e35;
}
.rightTopP{
  color: white;
  font-size: 23px;
  font-family: YouYuan;
}
.rightTopP1{
  color: white;
  font-size: 15px;
  font-family: YouYuan;
}
.rightCenterP{
  font-family: SimHei;
  font-size: 18px;
}
.rightCenterP1{
  font-family: SimHei;
  font-size: 16px;
}
.headImg{
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 2px  solid silver;
}
.changeCss{
  cursor: pointer;
  font-family: SimHei;
  color: #002385;
}
.changeCss:hover{
  color: #40aaf5;
}
.boderStyle{
  border: 1px solid silver;
  /*border-style: dashed;*/
  /*border-width: thin;*/
  padding: 10px;
  box-shadow: 0px 0px 10px #888888;

}
.commodityLostTopP{
  font-family: SimHei;
  font-size: 25px;
}
.font20{
  font-size: 20px;
}
.font16{
  font-size: 16px;
}
.colorRed{
  color: #e60000
}
.simhei{
  font-family: SimHei;
}
.youyuan{
  font-family: YouYuan;
}
.font30{
  font-size: 30px;
}
.inputbg{
  background-color: #f0f0f0;
}
