<div class="bg-model">
  <div class="bg-content">
    <div class="row mt-2">
      <div class="col-sm-5 ">
        <img src="../../assets/logo2.png" class="imgCss">
      </div>
      <div class="col-sm-5">
        <p class="youyuan mt-5 ">退货理由</p>
      </div>
      <div class="col-sm-2  text-center">
        <i class="fa fa-times curSor font20" aria-hidden="true" (click)="closeFun()"></i>
      </div>
    </div>
    <div class="row mt-2">

      <div class="col-sm-3  ml-4 text-right">
        <p class="youyuan">订单编号:</p>
      </div>
      <div class="col-sm-7">
        <p class="youyuan colorGrey">{{back_commodity_data.backOrderId}}</p>
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-sm-3  ml-4 text-right">
        <p class="youyuan">商品数量:</p>
      </div>
      <div class="col-sm-7">
        <p class="youyuan colorGrey">{{back_commodity_data.commodityNumber}}</p>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-3  ml-4 text-right">
        <p class="youyuan">商品金额:</p>
      </div>
      <div class="col-sm-7">
        <p class="youyuan colorGrey">￥{{back_commodity_data.money}}</p>
      </div>
    </div>
    <div class="row mt-2" >
      <div class="col-sm-3  ml-4 text-right">
        <p class="youyuan mt-2">退货理由:</p>
      </div>
      <div class="col-sm-7">
        <p class="youyuan colorGrey">￥{{back_commodity_data.backReason}}</p>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-1"></div>
      <div class="col-sm-10">
        <button class="btn btn-danger form-control" (click)="close.emit()">关闭</button>
      </div>
      <div class="col-sm-1"></div>
    </div>
  </div>
</div>
