.font20{
  font-size: 20px;
}
.font16{
  font-size: 16px;
}
.colorRed{
  color: #e60000
}
.simhei{
  font-family: SimHei;
}
.youyuan{
  font-family: YouYuan;
}
.font30{
  font-size: 30px;
}
.picCss{
  height:60px;
}
.cursor{
  cursor: pointer;
}
