<div style="display: none;" id="homepage">
  <div *ngIf="!personCenterPageshow "  style="margin-bottom: 50px; " >
    <div class="row topBox" style="z-index: 5">
      <div class=" col-sm-1 mt-1 text-right" *ngIf="!isLogin">
        <a class="aStyle" [routerLink]="['/login']">登录</a>
      </div>
      <div class=" col-sm-2 text-left mt-1" *ngIf="!isLogin">
        <a class="aStyle" style="color: red;" [routerLink]="['/register']">注册有礼</a>
        <i class="fa fa-gift " aria-hidden="true" style="color: #d50029;margin-left: 2px;font-size: 20px"></i>
      </div>
      <div class="col-sm-3 mt-1" *ngIf="isLogin">
        <div class="row">
          <div class="col-sm-4 text-right">
            <p class="PUser">欢迎</p>
          </div>
          <div class="col-sm-8">
            <p class="PUser" >{{username}} <a class="PUser text-primary ml-2" (click)="returnLogin()">注销</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-3"></div>
      <div class="col-sm-6 text-right mt-1">
        <div class="row text-right">
          <div class="col-sm-3 text-right">
            <i class="fa fa-home" aria-hidden="true" style="color:#cb00cb;"></i>
            <a class="aStyle" (click)="backToHome()">首页</a>
          </div>
          <div class="col-sm-2 text-right" >
            <i class="fa fa-cart-plus" aria-hidden="true" style="color:#cb00cb;"></i>
            <a class="aStyle" (click)="showShoppingCar()">购物车</a>
          </div>
          <div class="col-sm-2 text-right">
            <i class="fa fa-paper-plane" aria-hidden="true" style="color:#cb00cb;"></i>
            <a class="aStyle" (click)="showMyOrder()">我的订单</a>
          </div>
          <div class="col-sm-2 text-right">
            <i class="fa fa-smile-o" aria-hidden="true" style="color:#cb00cb;"></i>
            <a class="aStyle" (click)="showMyRebate()">我的会员</a>
            <template  [ngIf]="myRebatePageShow" style="position:absolute;z-index: 4">
              <app-my-rebate  [userId]="idFormParent" [myRebateNum]="myRebateNum" (bindChange)="closeMyRebate()"></app-my-rebate>
            </template>

          </div>

          <div class="col-sm-2 text-right">
            <i class="fa fa-mobile" aria-hidden="true" style="color:#cb00cb;font-size: 20px;"></i>
            <a class="aStyle" (click)="personCenterShow()">个人中心</a>
          </div>
          <div class="col-sm-1"></div>
        </div>
      </div>
    </div>
    <div class="row mt-2 ">
      <div class="col-sm-3 text-right ">
        <img src="../../assets/img/logo.jpg" class="logocss">
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5 marTop50">
        <div class="input-group">
          <span class="input-group-btn searchCss" >
            <i class="fa fa-search searchI" aria-hidden="true" ></i>
          </span>
          <input type="text" class="form-control" placeholder="想你所想" [(ngModel)]="searchObj">
          <span class="input-group-btn">
            <button class="btn searchBtn" type="button" (click)="searchFun()">搜索</button>
          </span>
        </div>
      </div>

    </div>
    <div  *ngIf=" !shoppingCarPageshow&&!myOrdersPageShow" style="z-index: 3">
      <div class="container" *ngIf="!CommodityListShow ">
        <div class="row adverBoxCss ">
          <div class="col-sm-2 text-center" style="background-color: #e2e2e2;">
            <p class="AdverPStyle" (click)="showCommodityList()" style="cursor:pointer;"> 全部商品类别</p>
          </div>
          <div class="col-sm-10">
            <div class=" row ">
              <div class="col-sm-2 "></div>
              <div class="col-sm-2 ">
                <p class="AdverPStyle"> 火热商品</p>
              </div>
              <div class="col-sm-2">
                <p class="AdverPStyle"> 火热商品</p>
              </div>
              <div class="col-sm-2">
                <p class="AdverPStyle"> 火热商品</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row classificationHeight">
          <div class="col-sm-2 classificationLeft" >
            <div class="row " style="padding: 5px">
              <div  *ngFor="let item of typeDataObj" style="margin-left: 2px;margin-top: 5px">
                <a class="classificationLeftAstyle">{{item.name}}</a>/
              </div>
            </div>
          </div>
          <div class="col-sm-8" >
            <div class="row ">
              <div class="col-sm-10">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="../../../assets/lunbo.png" alt="First slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../../assets/lunbo2.jpg" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../../assets/lunbo3.jpg" alt="Third slide">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../../assets/lunbo4.png" alt="Third slide">
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <div class="col-sm-2"></div>
            </div>
          </div>
          <div class="col-sm-2 classificationRight">
            <div class="row">
              <div class="col-sm-5"  style="text-align:center;border-right: 1px solid #dad8b9;height: 25px;cursor: pointer"  (mouseover)="adverRightPick('Promotion')">
                <div [ngClass]="{'adverRightPickCSS':classificationLeftChose=='Promotion'}" style="height: 100%;width: 95%">
                  <p class="AdverRightPStyle">促销</p>
                </div>

              </div>
              <div class="col-sm-5"  (mouseover)="adverRightPick('Notice')" style="cursor: pointer;height: 25px;">
                <div [ngClass]="{'adverRightPickCSS':classificationLeftChose=='Notice'}" style="height: 100%;width: 95%">
                  <p class="AdverRightPStyle">公告</p>
                </div>
              </div>
            </div>
            <div class="row mt-1">
              <div class="col-sm-12" *ngIf="classificationLeftChose=='Promotion'">
                <div class="row">
                  <div class="col-sm-12">
                    <p class="AdverRightPStyle">促销</p>
                  </div>
                  <div class="col-sm-12" *ngFor="let item of articleData['promotion'];let i=index">
                    <p class="font12 fontColorGrey">{{item.article}}</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-12"  *ngIf="classificationLeftChose=='Notice'">
                <div class="row">
                  <div class="col-sm-12">
                    <p class="AdverRightPStyle">公告</p>
                  </div>
                  <div class="col-sm-12" *ngFor="let item of articleData['notice'];let i=index">
                    <p class="font12 fontColorGrey">{{item.article}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2 " >
          <div class=" col-sm-4  boxStyle " style="min-height:300px;">
            <div class="row mt-2">
                <div class="col-sm-3">
                  <h5 style="font-family: SimHei">排行榜</h5>
                </div>
                <div class="col-sm-9">
                  <i class="fa fa-chevron-circle-right boxIStyle" aria-hidden="true" ></i>
                </div>
            </div>
            <div class="row mt-2">
              <div class="col-sm-12">
                <img src="../../../assets/paihangbang.png" style="height: 300px">
              </div>
            </div>
          </div>
          <div class=" col-sm-4 boxStyle"  style="min-height:300px;">
            <div class="row mt-2">
              <div class="col-sm-4">
                <h5 style="font-family: SimHei">会员专享</h5>
              </div>
              <div class="col-sm-8">
                <i class="fa fa-chevron-circle-right boxIStyle" aria-hidden="true" ></i>
              </div>
            </div>
            <div *ngIf="userWelfareShow">
              <div class="row mt-1" *ngFor="let item of articleData['userWelfare'];let i=index"  >
                <div class="col-sm-3 ml-2 text-center" >
                  <img src="{{item.picData}}" class="imgCss">
                </div>
                <div class="col-sm-8  ">
                  <p class="simhei mt-2 ml-2"><a class="mr-2 mt-4 text-danger" style="font-family: SimHei ;font-weight: bold;font-size: 45px ;">{{i+1}}</a>{{item.article}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class=" col-sm-4 boxStyle "  style="min-height:300px;">
            <div class="row mt-2">
              <div class="col-sm-4">
                <h5 style="font-family: SimHei">积分商城</h5>
              </div>
              <div class="col-sm-8">
                <i class="fa fa-chevron-circle-right boxIStyle" aria-hidden="true" ></i>
              </div>
            </div>
            <div *ngIf="integralShow">
              <div class="row mt-1" *ngFor="let item of articleData['integral'] ;let i=index"  >
                <div class="col-sm-3 ml-2 text-center" >
                  <img src="{{item.picData}}" class="imgCss">
                </div>
                <div class="col-sm-8  ">
                  <p class="simhei mt-2 ml-2"><a class="mr-2 mt-4 text-danger" style="font-family: SimHei ;font-weight: bold;font-size: 45px ;">{{i+1}}</a>{{item.article}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="CommodityListShow">
        <app-commodity-list [search]="search" [id]="idFormParent"></app-commodity-list>
      </div>
    </div>

  </div>
</div>
<div >
  <app-personal-center *ngIf="personCenterPageshow" (close)="closePersonCenter()" [userId]="idFormParent"></app-personal-center>
</div>
<div class="container" *ngIf="shoppingCarPageshow">
  <app-shopping-card-page [id]="idFormParent" (close)="closePersonCenter()"></app-shopping-card-page>
</div>
<div class="container" *ngIf="myOrdersPageShow">
  <app-my-orders [userId]="idFormParent" (close)="closeMyOrder()"></app-my-orders>
</div>

