<div style="display: none"  id="admin_order_list">
  <div style="padding: 10px;"   >
  <div class="row ">
    <div class="col-sm-11 " >
      <p class=" youyuan font20"><i class="fa fa-shopping-bag text-primary" aria-hidden="true" style="margin-right:5px;"></i>用户{{data.id}}的订单列表</p>
    </div>
    <div class="col-sm-1">
      <button class="btn btn-primary btn-sm" (click)="close.emit()">返回</button>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-sm-12">
      <div class="row mt-4">
        <div class="col-sm-12">
          <table class="table table-striped table-hover youyuan "  id="table1" >
            <thead>
            <tr >
              <th >订单id </th>
              <th>商品id</th>
              <th>购买数量</th>
              <th>实际付款</th>
              <th>返利金额</th>
              <th>订单状态</th>
            </tr>
            </thead>
            <tbody *ngIf="bodyShow">
            <tr *ngFor="let item of orderListData ;let i=index">
              <td>{{item.orderData.orderId}}</td>
              <td>{{item.orderData.commodityId}}</td>
              <td>{{item.orderData.commodityNumber}}</td>
              <td>{{item.orderData.money}}</td>
              <td>{{item.orderData.rebatePrice}}</td>
              <td>{{orderState[item.orderData.state]}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
