.logocss{
  height: 120px;
}
.backgroundColor{
  background-color:#F0F8FF ;
}
.top{
  /*margin-top: 20px*/
}
.huanyinbg{
  border-left: 2px solid silver;
  height: 70px;
  margin-top: 30px
}
.huanyin{
  margin-top: 10px;
  font-family: "YouYuan ";
  font-size: 30px;
  font-weight:normal ;
  color: #A9A9A9;

}
.loginboxbg{
  border-top:1px solid dodgerblue;
  border-bottom: 1px solid dodgerblue;
  /*background-color: dodgerblue;*/
  background-image: url("../../assets/img/login_bg.png");
  height:400px;
  background-size:100% 100%
}
.loginbox{
  border: 1px solid  silver;
  box-shadow:0px 0px 15px #888888 ;
  height:350px;
  background-color: white;
  margin-top: 25px;
  border-radius:2px;
  padding: 10px;
}
.pick{
  margin-top: 10px;
  height: 35px;
  border-bottom:2px solid orangered;
  font-family: 'Microsoft YaHei';
}
.unpick{
  margin-top: 10px;
  height: 35px;
  font-family: 'Microsoft YaHei';
  cursor: pointer;
}
.login-btn{
  width:100%
}
.login-a{
  cursor: pointer;
  color: dodgerblue;
  text-decoration: underline;
  font-size: 13px;
}

.loginWayI{
  font-size: 30px;
  color: #2d8eda;
  cursor: pointer;
}
/*.bgBox{*/
  /*min-height: 675px;*/
/*}*/
