<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.felix.grouppurchase.mapper.TestMapper" >

    <resultMap id="testMap" type="com.felix.grouppurchase.model.Test">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="gender" property="gender" />
    </resultMap>

    <select id="find" resultType="testMap" parameterType="com.felix.grouppurchase.model.Test">
        select
            id,
            name,
            gender
         from tb_test
         where
          id = ${id}
    </select>
</mapper>