<div style="margin-bottom: 40px">
  <div class="topcss" >
    <div class="row top ">
      <div class="col-sm-3 text-right ">
        <img src="../../assets/img/logo.jpg" class="logocss">
      </div>
      <div class="col-sm-4 huanyinbg" >
        <p class="huanyin">欢迎注册</p>
      </div>
      <div class="col-sm-4 text-right" style="margin-top: 70px;font-family: 'STHeiti' ">
        已有账号？
        <a class="top-a-css" style="color: dodgerblue;" [routerLink]="['/login']">请登录</a>
      </div>
      <div class="col-sm-1">


      </div>
    </div>
  </div>
  <div *ngIf="step=='0'"class="row text-center marTop30">
    <div class="col-sm-12">
      <div class="row mt-4">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <app-step [step]="step"></app-step>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="row mt-4">
        <div class="col-sm-4" >
        </div>
        <div class="col-sm-4 registerBox">

          <div class="row mt-2 ml-2" >
            <div class="col-sm-12">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" ><i class="fa fa-phone" aria-hidden="true"></i></span>
                </div>
                <input type="text" class="form-control" placeholder="请输入手机号码" [(ngModel)]="phone"  aria-describedby="basic-addon1">
                <i class="fa fa-check-square correctCheck " aria-hidden="true" *ngIf="isPhoneCorrect"></i>
                <i class="fa fa-times worngCheck" aria-hidden="true" *ngIf="!isPhoneCorrect"></i>
              </div>
            </div>
          </div>
          <div class="row mt-2 ml-2">
            <div class="col-sm-7">
              <input type="text" class="form-control" placeholder="验证码" [(ngModel)]="code" aria-describedby="basic-addon1">
            </div>
            <div class="col-sm-5 text-center">
              <button class="btn btn-outline-success " (click)="getCode()" *ngIf="!codeGetting">获取验证码</button>
              <button class="btn btn-outline-success "  *ngIf="codeGetting" disabled="disabled">重新发送（{{time}}s）</button>
            </div>
          </div>
          <div class="row mt-4 ml-2">
            <div class="col-sm-12">
              <button class="btn btn-danger" style="width: 100%;" (click)="nextStep()">下一步</button>
            </div>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>

  </div>

  <div *ngIf="step=='1'" class="row text-center marTop30">

    <div class="col-sm-12">

      <div class="row mt-4">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <app-step [step]="step"></app-step>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="row ">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
          <div class="row mt-4">
            <div class="col-sm-3 text-right mt-2">
              <p class="pStyle">登录账号：</p>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]="id">
            </div>
          </div>
          <div class="row mt-3 ">
            <div class="col-sm-3 text-right mt-2">
              <p class="pStyle">用户名：</p>
            </div>
            <div class="col-sm-9">
              <input type="text" class="form-control" [(ngModel)]="username">
            </div>
          </div>
          <div class="row mt-3 ">
            <div class="col-sm-3 text-right mt-2">
              <p class="pStyle">性别：</p>
            </div>
            <div class="col-sm-9">
              <select class="form-control" [(ngModel)]="gender" >
                <option value ="1">男</option>
                <option value ="0">女</option>
              </select>
            </div>
          </div>
          <div class="row mt-3 " style="z-index: 5;position: relative">
            <div class="col-sm-3 text-right mt-2">
              <p class="pStyle">地区选择：</p>
            </div>
            <div class=" col-sm-9">
              <app-form-address-select [(bind)]="area" (bindChange)='showArea()'></app-form-address-select>
            </div>
          </div>
          <div class="row mt-3 ">
            <div class="col-sm-3 text-right mt-2">
              <p class="pStyle">出生日期：</p>
            </div>
            <div class="col-sm-9">
              <app-date [(bind)]="birth" (bindChange)="showDataChose()"></app-date>
            </div>
          </div>

          <div class="row mt-3 ">
            <div class="col-sm-3 text-right mt-2">
              <p class="pStyle">邮箱：</p>
            </div>
            <div class=" col-sm-9">
              <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="email">
              </div>
            </div>
          </div>
          <div class="row mt-3 ">
            <div class="col-sm-3 text-right mt-2">
              <p class="pStyle">密码：</p>
            </div>
            <div class="col-sm-9">
              <div class="row ">
                <div class="col-sm-12">
                  <input type="password" class="form-control" [(ngModel)]="password" (keyup)="0" (change)="pswChange()">
                </div>
              </div>
              <div class="row mt-2" *ngIf="password!=''">
                <div class="col-sm-12">
                  <div class="progress" >
                    <div class="progress-bar bg-success progress-bar-striped" *ngIf="passwordLevel=='weak'" style="width:100%">
                      弱
                    </div>
                    <div class="progress-bar bg-warning progress-bar-striped" *ngIf="passwordLevel=='middle'" style="width:100%">
                      中等
                    </div>
                    <div class="progress-bar bg-danger progress-bar-striped"  *ngIf="passwordLevel=='strong'" style="width:100%">
                      强
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="row mt-3 ">
            <div class="col-sm-3 text-right mt-2">
              <p class="pStyle">重新输入：</p>
            </div>
            <div class="col-sm-9">
              <input type="password" class="form-control" [(ngModel)]="repassword">
            </div>
          </div>
          <div class="row mt-4 ml-2">
            <button class="btn btn-danger form-control" (click)="submitData()">注册</button>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>

  </div>
  <div *ngIf="step=='2'"  class="row text-center marTop30">

    <div class="col-sm-12 marTop30">
      <div class="row mt-4">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <app-step [step]="step"></app-step>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="row text-center mt-4">
        <div class="col-sm-12">
          <h2>注册成功</h2>
        </div>
      </div>
      <div class="row text-center mt-4">
        <div class="col-sm-12">
          <a class="aStyle" [routerLink]="['/login']">去登陆</a>
        </div>
      </div>

    </div>

  </div>

</div>
