<div style="margin-bottom: 40px">
  <div class="topcss" >
    <div class="row top ">
      <div class="col-sm-3 text-right ">
        <img src="../../assets/img/logo.jpg" class="logocss">
      </div>
      <div class="col-sm-4 huanyinbg" >
        <p class="huanyin">欢迎注册</p>
      </div>
      <div class="col-sm-4 text-right" style="margin-top: 70px;font-family: 'STHeiti' ">
        已有账号？
        <a class="top-a-css" style="color: dodgerblue;" [routerLink]="['/login']">请登录</a>
      </div>
      <div class="col-sm-1">


      </div>
    </div>
  </div>
  <div *ngIf="step=='1'" class="row text-center marTop30">
    <div class="col-sm-4" >
    </div>
    <div class="col-sm-4 registerBox">
      <div class="row">
        <div class="col-sm-12">
          <img src="../../assets/step1.png">
        </div>
      </div>
      <div class="row mt-2 ml-2" >
        <div class="col-sm-12">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" ><i class="fa fa-phone" aria-hidden="true"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="请输入手机号码" [(ngModel)]="phone"  aria-describedby="basic-addon1">
            <i class="fa fa-check-square correctCheck " aria-hidden="true" *ngIf="isPhoneCorrect"></i>
            <i class="fa fa-times worngCheck" aria-hidden="true" *ngIf="!isPhoneCorrect"></i>
          </div>
        </div>
      </div>
      <div class="row mt-2 ml-2">
        <div class="col-sm-8">
          <input type="text" class="form-control" placeholder="验证码" [(ngModel)]="code" aria-describedby="basic-addon1">
        </div>
        <div class="col-sm-4 text-left">
          <button class="btn btn-outline-success ">获取验证码</button>
        </div>
      </div>
      <div class="row mt-4 ml-2">
        <div class="col-sm-12">
          <button class="btn btn-danger" style="width: 100%;" (click)="nextStep()">下一步</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>

  <div *ngIf="step=='2'" class="row text-center marTop30">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <div>
        <div class="row">
          <div class="col-sm-12">
            <img src="../../assets/step2.png">
          </div>
        </div>
        <div class="row mt-2 ">
          <div class="col-sm-3 text-right mt-2">
            <p class="pStyle">登录账号：</p>
          </div>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="id">
          </div>
        </div>
        <div class="row mt-2 ">
          <div class="col-sm-3 text-right mt-2">
            <p class="pStyle">用户名：</p>
          </div>
          <div class="col-sm-9">
            <input type="text" class="form-control" [(ngModel)]="username">
          </div>
        </div>
        <div class="row mt-2 ">
          <div class="col-sm-3 text-right mt-2">
            <p class="pStyle">性别：</p>
          </div>
          <div class="col-sm-9">
            <select class="form-control" [(ngModel)]="gender" >
              <option value ="男">男</option>
              <option value ="女">女</option>
            </select>
          </div>
        </div>
        <div class="row mt-2 ">
          <div class="col-sm-3 text-right mt-2">
            <p class="pStyle">邮箱：</p>
          </div>
          <div class=" col-sm-9">
            <div class="input-group mb-3">
              <input type="text" class="form-control" [(ngModel)]="email">
            </div>
          </div>
        </div>
        <div class="row mt-2 ">
          <div class="col-sm-3 text-right mt-2">
            <p class="pStyle">出生日期：</p>
          </div>
          <div class=" col-sm-3">
            <select [(ngModel)]="year" class="form-control">
              <option *ngFor="let item of yearObj" value ="{{item.key}}">{{item.value}}</option>
            </select>
          </div>
          <div class=" col-sm-3">
            <select [(ngModel)]="month" class="form-control">
              <option *ngFor="let item of monthObj" value ="{{item.key}}">{{item.value}}</option>
            </select>
          </div>
          <div class=" col-sm-3">
            <select [(ngModel)]="day" class="form-control">
              <option *ngFor="let item of dayObj" value ="{{item.key}}">{{item.key}}</option>
            </select>
          </div>
        </div>
        <div class="row mt-2 ">
          <div class="col-sm-3 text-right mt-2">
            <p class="pStyle">地区选择：</p>
          </div>
          <div class=" col-sm-3">
            <select [(ngModel)]="province" class="form-control" (change)="choseProvince(province)" style="font-size: 12px">
              <option *ngFor="let item of areaObj" value ="{{item.province}}" >{{item.province}}</option>
            </select>
          </div>
          <div class=" col-sm-3">
            <select [(ngModel)]="city" class="form-control" (change)="choseCity(city)" style="font-size: 12px">
              <option *ngFor="let item of cityObj" value ="{{item.cityname}}" >{{item.cityname}}</option>
            </select>
          </div>
          <div class=" col-sm-3">
            <select [(ngModel)]="district" class="form-control"   style="font-size: 12px">
              <option *ngFor="let item of districtObj" value ="{{item.districtName}}" >{{item.districtName}}</option>
            </select>
          </div>
        </div>
        <div class="row mt-2 ">
          <div class="col-sm-3 text-right mt-2">
            <p class="pStyle">账号选择：</p>
          </div>
          <div class="col-sm-9">
            <select [(ngModel)]="type" class="form-control"   >
              <option value="0">会员</option>
              <option value="1">商家</option>
            </select>
          </div>

        </div>
        <div class="row mt-2 ">
          <div class="col-sm-3 text-right mt-2">
            <p class="pStyle">密码：</p>
          </div>
          <div class="col-sm-9">
            <input type="password" class="form-control" [(ngModel)]="password">
          </div>
        </div>
        <div class="row mt-2 ">
          <div class="col-sm-3 text-right mt-2">
            <p class="pStyle">重新输入：</p>
          </div>
          <div class="col-sm-9">
            <input type="password" class="form-control" [(ngModel)]="repassword">
          </div>
        </div>
        <div class="row mt-2 ml-2">
          <button class="btn btn-danger form-control" (click)="submitData()">注册</button>
        </div>
      </div>
    </div>
    <div class="col-sm-4"></div>
  </div>
  <div *ngIf="step=='3'" class="row text-center marTop30">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 marTop30">
      <div class="row text-center">
        <div class="col-sm-12">
          <h2>注册成功</h2>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-sm-12">
          <a class="aStyle" [routerLink]="['/login']">去登陆</a>
        </div>
      </div>

    </div>
    <div class="col-sm-4"></div>
  </div>

</div>
